@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222;
  background-color: 	#F3F3F3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-muted: #5e5e5e; 
  --color-black: #222222;
  --color-blue: #1447e6;
  --color-border: #d7d0d0;
  --font-lato: "Lato", sans-serif;
  --font-cabin: "Cabin", sans-serif;
}

.container {
  @apply px-3 xl:px-0 max-w-[1170px] mx-auto
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
}

.input {
  @apply block w-full border border-border px-4 py-2 focus:outline-0
}
.primary-btn {
  @apply cursor-pointer bg-blue text-white py-3 px-5 uppercase hover:bg-[#0c2780] transition-all hover:shadow-xl active:bg-blue
}

.table-action {
  @apply flex items-center gap-x-2 cursor-pointer text-sm font-semibold rounded-md border border-muted px-2.5 py-0.5 text-blue-600 hover:bg-white active:bg-gray-200 hover:text-blue-800 focus:outline-hidden focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none
}
.table-action-delete {
  @apply flex items-center gap-x-2 cursor-pointer text-sm font-semibold rounded-md border border-muted px-2.5 py-0.5 text-red-600 hover:bg-white active:bg-gray-200 hover:text-red-800 focus:outline-hidden focus:text-red-800 disabled:opacity-50 disabled:pointer-events-none
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
